<div class="section-footer">
  <div class="row panel-services">
    <div class="col-md">
        <ul>
            <h3 class="title-service"><a [routerLink]="['/contact']">Productos</a></h3>
            <p class="subtitle-service"><a [routerLink]="['/contact']">Holding</a></p>
            <p class="subtitle-service"><a [routerLink]="['/contact']">T-Shirts</a></p>
            <p class="subtitle-service"><a [routerLink]="['/contact']">Mugs</a></p>
        </ul>
    </div>
      <div class="col-md">
        <ul>
          <h3 class="title-service"><a [routerLink]="['/contact']">Servicios</a></h3>
          <p class="subtitle-service"><a [routerLink]="['/contact']">Premium Pass</a></p>
          <p class="subtitle-service"><a [routerLink]="['/contact']">Compra INBAR</a></p>
          <p class="subtitle-service"><a [routerLink]="['/contact']">PES</a></p>
          <p class="subtitle-service"><a [routerLink]="['/contact']">Reservas</a></p>
          <p class="subtitle-service"><a [routerLink]="['/contact']">Tickets</a></p>
          <p class="subtitle-service"><a [routerLink]="['/contact']">Pagos</a></p>
          <p class="subtitle-service"><a [routerLink]="['/contact']">Transporte VIP</a></p>
        </ul>
      </div>
      <div class="col-md">
        <ul>
          <li class="title-service"><a [routerLink]="['/about']">Nosotros</a></li>
          <li class="subtitle-service"><a [routerLink]="['/about']">Misión</a></li>
          <li class="subtitle-service"><a [routerLink]="['/about']">Visión</a></li>
          <li class="subtitle-service"><a [routerLink]="['/about']">Proyectos</a></li>
          <li class="subtitle-service"><a [routerLink]="['/about']">Alianzas</a></li>
          <li class="subtitle-service"><a [routerLink]="['/about']">Certificados</a></li>
        </ul>
      </div>
      <div class="col-md">
          <ul>
              <li class="title-service"><a [routerLink]="['/contact']">Contacto</a></li>
              <li class="subtitle-service"><a [routerLink]="['/contact']">Bogotá</a></li>
              <li class="subtitle-service"><a [routerLink]="['/contact']">Medellin</a></li>
              <li class="subtitle-service"><a [routerLink]="['/contact']">Cali</a></li>
              <li class="subtitle-service"><a [routerLink]="['/contact']">Barranquilla</a></li>
              <li class="subtitle-service"><a [routerLink]="['/contact']">Santa Marta</a></li>
              <li class="subtitle-service"><a [routerLink]="['/contact']">Cartagena</a></li>
          </ul>
      </div>
  </div>
  <div class="row footer">
      <div class="col-12 text-center">
          <span class="footer-title">
              UNETE A LA FIESTA !
          </span>
      </div>
           <div class="col-12 text-center">
                <app-social-bar [color]="'brown'"></app-social-bar>
            </div>
      <div class="col-12 footer-copyright text-center">
          Copyright 2020 © All rights Reserved. 
      </div>
  </div>	
</div>