
.section-footer{
	min-height: 20em;
    background-color: #ebc74e;
    padding-top: 3em;
    padding-bottom: 8em;
}

.panel-services{
	padding-left:4em;
	padding-right:4em;
	padding-top:2em;
}

.title-service{    
	color: #5F5F64;
    font-size: 2em;
    font-weight: 700;
}

.subtitle-service{    
	color: #5F5F64;
    font-size: 1.5em;
    font-weight: 400;
}

.footer{
	padding-top: 11em;
}

.footer-title{
	padding-top: 5em;
	padding-bottom: 0.3em;
	font-size: 3.5em;
	color: #5F5F64;
	border-bottom:2px solid #5F5F64;
}

.footer-copyright{
	color: #5F5F64;
    font-weight: 400;
	margin-top:1em;
	margin-bottom:2em;
	font-size: 	1.2em
}

a{
	color: #5F5F64;
	text-decoration: none;
}

a:active{
	color: #5F5F64;
	text-decoration: none;
}

ul li{
	list-style-type: none;
}