<app-top [color]="'light'"></app-top>

<section class="header">
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4 header-text">
              CONTACTO
        </h1>
          <div class="row social-bar">
             <div class="col">
                <app-form-contact></app-form-contact>
              </div>
          </div>
      </div>
      <div class="row text-center">
          <div class="col-12 header-text-oficial">
              WWW.PARTIAF.COM
          </div>
      </div>
      <div class="row text-center">
          <div class="col-12 header-little-text">
              Copyright 2020 © All rights Reserved. 
          </div>
      </div>	
    </div>
</section>

<app-footer></app-footer>