<div class="social-bar">
  <a href="https://www.facebook.com/Partiaf-118520806645181" target="_blank">
    <img alt="facebook partiaf" class="social-icon" [ngStyle]="{'height':(color=='oficial'?'1.2em':'2.5em')}" src="../../../assets/images/facebook_icon{{(color!='oficial'?'_second':'')}}.png">
  </a>
  <a href="https://twitter.com/Partiaf1" target="_blank">
    <img alt="twitter partiaf" class="social-icon" [ngStyle]="{'height':(color=='oficial'?'1.2em':'2.5em')}" src="../../../assets/images/twitter_icon{{(color!='oficial'?'_second':'')}}.png">
  </a>
  <a href="https://www.instagram.com/partiaf/" target="_blank">
    <img alt="isntagram partiaf" class="social-icon" [ngStyle]="{'height':(color=='oficial'?'1.2em':'2.5em')}" src="../../../assets/images/instagram_icon{{(color!='oficial'?'_second':'')}}.png">
  </a>
  <a href="https://www.youtube.com/channel/UCoXCuLz7nh6jpW3frVEg-bg?view_as=subscriber" target="_blank">
    <img alt="youtube partiaf" class="social-icon" [ngStyle]="{'height':(color=='oficial'?'1.2em':'2.5em')}" src="../../../assets/images/youtube_icon{{(color!='oficial'?'_second':'')}}.png">	
  </a>
</div>